@charset "UTF-8";
/* 
em html é id = em css é # (só pode um)
em html é class = em css é . (pode ter varios com o mesmo nome)
*/
body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(4, 109, 0);
}
h1#principal {
    text-align: center;
    color: rgb(4, 109, 0);
    color: white;
}
h2 {
    color: rgb(51, 77, 49);
}
.basico {
    color: greenyellow;
    font-weight: bold;
}
.intermediario {
    color: yellow;
}
.advanced {
    color: red;
}
.destaque {
    background-color: aqua;
}