      @charset "UTF-8"; 
       
       
       /* Configurações gerais */
        * {
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        html, body {
            width: 100vw;
            height: 100vh;
            background-color: #233EFF;
        }
        h1 {
            color: white;
            text-shadow: 2px 2px 0px #0f1c79;
        }

        /* Configurações de retrato */
        @media screen and (orientation: portrait) {
            body {
            background-image: url(../imagens/cev-portrait.jpg);
            background-position: center bottom;
            }
        }
        /* Configurações de paisagem */
        @media screen and (orientation: landscape) {
            body {
            background-image: url(../imagens/cev-landscape.jpg);
            background-position: left bottom;
            }
        }
