@charset "UTF-8";
/* todas as mídias */
/* Typical device breakpoints
--------------------------------
pequenas telas: 576pixels
celulares: 768px
tablets: 992px
laptops: 1200px
telas grandes: 1400px e acima */
@media print { /* impressão */
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imagens/back-print.jpg); /*desnecessario*/
    }
    main {
        border: 2px solid black;
        width: 90%;
    }
    
    main h1 {
        text-shadow: none;
        color: black;
    }
    /*
    main::after {
        content: "esse exercicio foi feito atraves do site www.cursoemvideo.com";
        text-decoration: overline;
    } */
    footer::after {
        content: "esse exercicio foi feito atraves do site www.cursoemvideo.com";
        text-decoration: overline;
        position: absolute;
        bottom: 0;
    }


img#phone {display: none; }
img#tablet {display: none; }
img#print {display: block; }
img#pc {display: none; }
img#tv {display: none; }


}

@media screen and (min-width: 768px) and (max-width: 992px) { /*tablet */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone {display: none; }
    img#tablet {display: block; }
    img#print {display: none; }
    img#pc {display: none; }
    img#tv {display: none; }

}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* desktop */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone {display: none; }
    img#tablet {display: none; }
    img#print {display: none; }
    img#pc {display: block; }
    img#tv {display: none; }
}

@media screen and (min-width: 1200px) { /* telas grandes */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    main {
        width: 900px;
    }

    img#phone {display: none; }
    img#tablet {display: none; }
    img#print {display: none; }
    img#pc {display: none; }
    img#tv {display: block; }
}